.products-section-wrapper,
.marble-category-wrapper {
  background-image: url("https://img.freepik.com/premium-vector/volume-abstract-white-background-texture-with-diagonal-lines-squares_47243-1567.jpg");
  padding: 150px;
}

.products-section,
.marble-category {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 20px;
}

.marble-category-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.marble-category-row a {
  color: black;
}

.home-products-marble,
.marble-category {
  width: 750px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: center;
  /* background-color: red; */
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* overflow: hidden; */
}

.home-products-marble p,
.marble-category p {
  color: black;
  font-size: 20px;
}

.travertine-gold {
  background-image: url("../../images/products/travertine/gold/gallery/1.jpg");
}
.travertine-ivory {
  background-image: url("../../images/products/travertine/ivory/gallery/2.jpg");
}
.travertine-noche {
  background-image: url("../../images/products/travertine/noche/gallery/1.jpg");
}
.travertine-red {
  background-image: url("../../images/products/travertine/red/gallery/1.jpg");
}
.travertine-scabos {
  background-image: url("../../images/products/travertine/scabos/gallery/1.jpg");
}
.travertine-silver {
  background-image: url("../../images/products/travertine/silver/gallery/1.jpg");
}
@media (max-width: 1120px) {
  .marble-category-row {
    flex-direction: column;
    align-items: center;
  }
  .home-products-marble {
    width: 500px;
  }
  .products-section-wrapper {
    padding: 50px;
  }
}

@media (max-width: 530px) {
  .home-products-marble {
    width: 200px;
  }
}
