@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --gold-yellow: rgb(241, 216, 75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: min(100%, 1400px);
  margin: auto;
}

.btn {
  background-color: var(--gold-yellow);
  padding: 7px 50px;
  border-radius: 20px;
  display: inline-block;
  color: black;
  font-weight: bold;
}
