.about-section {
  padding: 50px 25px;
  /* text-align: center; */
}

.about-area {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.about-area p {
  font-size: 17px;
}

/* .about-section p {
} */

@media (max-width: 850px) {
  .about-section {
    text-align: center;
  }
}
