.about-section {
  padding: 50px 25px;
  /* text-align: center; */
}

.about-section p {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

@media (max-width: 850px) {
  .about-section {
    text-align: center;
  }
}
