.products-section-wrapper {
  background-image: url("https://img.freepik.com/premium-vector/volume-abstract-white-background-texture-with-diagonal-lines-squares_47243-1567.jpg");
  padding: 150px;
}

.products-section {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.products-section a {
  color: black;
}

.home-products-marble {
  width: 750px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* overflow: hidden; */
}

.home-products-marble p {
  color: black;
  font-size: 20px;
}

.home-marble h3,
.home-marble p,
.home-granite p,
.home-granite h3 {
  color: white;
}

@media (max-width: 1120px) {
  .products-section {
    /* flex-direction: column; */
    flex-direction: column;
    align-items: center;
    /* padding: 25px 25px; */
  }
  .home-products-marble {
    width: 500px;
  }
  .products-section-wrapper {
    padding: 50px;
  }
}

@media (max-width: 530px) {
  .home-products-marble {
    width: 200px;
  }
}
