.marble-type-section-wrapper {
  background-image: url("https://img.freepik.com/premium-vector/volume-abstract-white-background-texture-with-diagonal-lines-squares_47243-1567.jpg");
  /* padding: 50px 0; */
}

.marble-type-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.marble-type-container {
  width: min(100%, 1200px);
  margin: auto;
  /* background-color: red; */
}

.marble-type-info-wrapper {
  display: flex;
  justify-content: space-between;
  /* gap: 50px; */
  background-color: white;
  padding: 50px;
  /* margin-bottom: 150px; */
  /* border-radius: 10px; */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

.marble-type-info {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 50px 0;
}

.marble-type-info img {
  width: 300px;
}

.marble-description {
  /* background-color: red; */
  width: 400px;
}

@media (max-width: 820px) {
  .marble-type-info {
    flex-direction: column;
    /* align-items: center; */
  }

  .marble-description {
    /* background-color: red; */
    width: 200px;
  }

  .marble-type-info-wrapper {
    padding: 0 0 0 20px;
  }

  .marble-type-info img {
    width: 200px;
  }
}
